.sidebarWrap {
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 260px;
    min-height: 100px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    background: url(../img/sidebarBg.jpg) no-repeat 0 0;
    /*opacity: 0.2;
    filter: alpha(opacity=20);*/
}

.sidebar {
    width: 260px;
    overflow: hidden;
}

.perImfor {
    width: 260px;
    color: #788c00;
}

.perPic {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 50px;
    background: url(../img/perPic.jpg) no-repeat 0 0;
}

.perName {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: #787878;
}

.perMotto {
    width: 230px;
    padding: 0;
    margin: 0 auto;
    margin-top: 12px;
    font-size: 15px;
    text-align: center;
    color: #8c7878;
}

.perEmail {
    width: 230px;
    padding: 0;
    margin: 0 auto;
    margin-top: 12px;
    font-size: 15px;
    text-align: center;
    color: #8c7878;
}

.perLink {
    width: 230px;
    padding: 0;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 15px;
    text-align: center;
    color: #786478;
}

.perLinkItem {
    margin: 0 5px;
    font-size: 15px;
    text-decoration: none;
    color: #786478;
}


